# Write a function that computes the volume of a sphere given its radius.

In [4]:
from math import pi
def vol(rad):
    return (4 / 3 * pi * (rad ** 3))
print(vol (2))

33.510321638291124

# Write a function that checks whether a number is in a given range (inclusive of high and low)

In [14]:
def ran_check(num, low, high):
    if num > low and num < high:
        print(f'{num} is in the range of {low} and {high}')
    else: 
        print(f'{num} is not in the range of {low} and {high}')
ran_check(2,2,7)

2 is not in the range of 2 and 7


# Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

In [19]:
def up_low(s):
    low, upper = 0, 0
    for _ in s:
        if (_ <= 'z' and _ >= 'a'):
            low += 1
        elif(_ <= 'Z' and _ >= 'A'):
            upper += 1
    return (low, upper)
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
(low, upper) = up_low(s)
print(f"there are total number of {low} lower case characters and {upper} upper case characters")

there are total number of 33 lower case characters and 4 upper case characters

# Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [28]:
Sample_List = [1,1,1,1,2,2,3,3,3,3,4,5]
Unique_List = [1, 2, 3, 4, 5]
s = list(set(Sample_List))
print(s)

[1, 2, 3, 4, 5]

# Write a Python function to multiply all the numbers in a list.

In [36]:
Sample_List = [1, 2, 3, -4]
ans = 1
for x in Sample_List:
    ans *= x
print(ans)

-24

# Write a Python function that checks whether a word or phrase is palindrome or not.

In [45]:
def palindrome(s):
    i , j = 0, len(s) - 1
    while i < j:
        if s[i] != s[j]:
            print(f'{s} is not a palindrome')
            return
        i += 1
        j -= 1
    print(f'{s} is a palindrome')
palindrome('helleh')

helleh is a palindrome

# Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)

In [78]:
example = "The quick brown fox jumps over the lazy dog"
s = example.lower()
t = s.replace(" ", "")
st = set(t)
print(st)
print(len(st))
if len(st) == 26:
    print(f'{example} is a paragram')
else:
    print(f'{example} is not a paragram')

# the error when i submitted before happened because i was not assigning the variable to the string it was returning after caling the lower() function on the string
# because i was expecting the string to change while strings are immutable in the python
print()
print()
print()
# the other way to do so is:
stemp = set(example.lower().replace(" ", ""))
if len(stemp) == 26:
    print(f'{example} is a paragram')
else:
    print(f'{example} is not a paragram')

{'u', 'k', 'g', 'x', 'h', 'i', 's', 'a', 't', 'l', 'z', 'w', 'o', 'c', 'f', 'e', 'y', 'b', 'p', 'j', 'n', 'd', 'v', 'r', 'q', 'm'}
26
The quick brown fox jumps over the lazy dog is a paragram



The quick brown fox jumps over the lazy dog is a paragram

# LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [93]:
def lesser_of_two_evens(a,b):
    return a if a < b else b
lesser_of_two_evens(2, 4)

lesser_of_two_evens(3,5)

3

# ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

In [102]:
def animal_crackers(text):
    a = (text.split(" "))
    if(a[0][0] == a[1][0]):
         print("true")
    else:
        print("false")
animal_crackers('Levelheaded Llama')

true

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [107]:
def old_macdonald(name):
    name = name[0].upper() + name[1:]
    if len(name) >= 4:
        name = name[:3] + name[3].upper() + name[4:]
    return name
print(old_macdonald('macdonald'))  # Output: MacDonald

MacDonald

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

In [120]:
def master_yoda(text):
    ls = text.split(" ")
    ls.reverse()
    print(" ".join(ls))

master_yoda('I am home')

home am I

In [122]:

master_yoda('We are ready')

ready are We

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

In [133]:
def almost_there(n):
    if(abs(n - 200) <= 10 or abs(n - 100) <= 10):
        print("true")

almost_there(114)

almost_there(209)

true

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [1]:
def has_33(nums):
    for i in range(len(nums) - 1): 
        if nums[i] == 3 and nums[i + 1] == 3:  
            return True
    return False

print(has_33([1, 3, 3]))

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

In [20]:

# def paper_doll(text):
#     lst = text.split()
#     print(lst)
#     flst = []
#     for i in lst:
#         flst += i * 3
#     s = ("".join(flst))
#     print(s)

# paper_doll('Hello') this will not work, just call list on the string and you will get all the characters out of the string sepatarely


def paper_doll(text):
    flst = []
    for i in text:
        flst += i * 3
    s = "".join(flst)
    print(s)

paper_doll('Hello')

HHHeeellllllooo

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

In [30]:
def blackjack(a, b, c):
    total = a + b + c
    
    if total > 21 and (a == 11 or b == 11 or c == 11):
        total -= 10
    
    if total > 21:
        return 'BUST'
    
    return total

print(blackjack(9,9,11))

print(blackjack(9,9,9))

print(blackjack(5,6,7))

19
BUST
18

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

In [41]:
def summer_69(arr):
    sumTillSix = 0
    flagSix = 0
    netSum = 0
    for i in arr:
        netSum += i
        if(flagSix == 1):
            sumTillSix += i
            if(i == 9):
                netSum -= sumTillSix
                flagSix = 0
        elif (flagSix == 0):
            if(i == 6):
                flagSix = 1
                sumTillSix += i
    return netSum

print(summer_69([1, 3, 5]))
print(summer_69([4, 5, 6, 7, 8, 9]))
print(summer_69([2, 1, 6, 9, 11]))

9
9
14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

In [3]:
def spy_game(nums):
    i = 0
    while i < len(nums) - 2:
        if nums[i] == 0 and nums[i + 1] == 0 and nums[i + 2] == 1:
            return True
        i += 1
    return False
print(spy_game([1,2,4,0,0,7,5]))
print(spy_game([1,0,2,4,0,5,7]))
print(spy_game([1,0,2,4,0,5,7]))

False
False
False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number

In [16]:
def count_primes(num):
    ans = 0
    for i in range (2, num + 1):
        f = 1
        for j in range (2, i):
            if (i % j == 0):
                f = 0
                break
        ans = f + ans
    print(ans)
count_primes(100)

25