In [1]:
input('Enter Something into this box: ')

Enter Something into this box:  aidhgf a;

'aidhgf a;'

In [17]:
mylist = [10,20,30,40,100]
from random import shuffle
shuffle(mylist)
mylist

[10, 40, 30, 100, 20]

In [19]:
list1 = [10,20,30,40,100]
list_sum = 0 

for _ in list1:
    list_sum = list_sum + _

print(list_sum)

200

In [22]:
d = {'k1':1,'k2':2,'k3':3}
for a, b in d:
    print(a, b)

k 1
k 2
k 3

1. linear for

In [27]:
a = [1, 2, 3, 4]
count = 0
sum = 0

for i in a:
    count += 1
    sum += i

print("number of elements present in the list are {a}, total sum of all the elements present in the list is {b}".format(a= count, b= sum))

number of elements present in the list are 4, total sum of all the elements present in the list is 10

In [3]:
ls = [1, 2,3, 4, 5, 6]
total = 0
for i in ls:
    total += i
    print("sum till now {sum}".format(sum = total))

print("total net sum: {}".format(total))

sum till now 1
sum till now 3
sum till now 6
sum till now 10
sum till now 15
sum till now 21
total net sum: 21

In [5]:
for _ in "hello world":
    print(1, _)

1 h
1 e
1 l
1 l
1 o
1
1 w
1 o
1 r
1 l
1 d

In [15]:
mylist = [(1, 2), (3, 2), (4, 5)]
for a, b in mylist:
    print(a, b)

1 2
3 2
4 5

In [19]:
mylist = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for item in mylist:
    print(item)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (205953235.py, line 3)

In [33]:
d = {'k1': 1, 'k2': 2, 'k3': 3}
for item in d:
    print(item)

k1
k2
k3

In [ ]:
x = 0
while x < 5:
    print('the current value of x is {y}'.format(y = x))
    x = x + 1

In [1]:
x = 0
while x < 5:
    print('the current value of x is {y}'.format(y = x))
    x = x + 1
    # x += 1 also works but not the x++

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4

In [5]:
x = [ 1, 2, 3]
for _ in x:
    #pass is used to avoid getting into syntax errors by the programmers
    pass

In [11]:
string = 'abcdefg'
for _ in string:
    if _ == 'c':
        continue
    if _ == 'f':
        break
    print(_)

a
b
d
e

In [13]:
mylist = [1, 2, 3]
for num in range (0, 10, 3):
    print(num)

0
3
6
9

In [15]:
ls = list(range(0, 11, 2))

In [17]:
ls

[0, 2, 4, 6, 8, 10]

In [21]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is: {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is: a
At index 1 the letter is: b
At index 2 the letter is: c
At index 3 the letter is: d
At index 4 the letter is: e

In [23]:
word = 'abcde'
for item in enumerate(word):
    print (item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [27]:
ls1 = [1, 2, 3, 4]
ls2 = ['a', 'b', 'c', 'd']
for item in zip (ls1, ls2):
    print (item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [29]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
result = zip(list1, list2)
print(result)

<zip object at 0x000001B341CBCC00>

In [31]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'x': 10, 'y': 20}
result = zip(dict1, dict2)
print(list(result))  # Output: [('a', 'x'), ('b', 'y')]

# Using values
result_values = zip(dict1.values(), dict2.values())
print(list(result_values))  # Output: [(1, 10), (2, 20)]

result_items = zip(dict1.items(), dict2.items())
print(list(result_items))

[('a', 'x'), ('b', 'y')]
[(1, 10), (2, 20)]
[(('a', 1), ('x', 10)), (('b', 2), ('y', 20))]

In [33]:
result = int(input('Enter Something into this box: '))

Enter Something into this box:  4

In [35]:
print(result)

4

In [37]:
ls = []
for x in[1, 2, 3]:
    for y in [4, 5, 6]:
        ls.append(x * y)

In [39]:
ls

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [41]:
lst = [x for x in range(0, 11, 2) if (x % 2 == 0)]
lst

[0, 2, 4, 6, 8, 10]

In [43]:
results = [x if x % 2 == 0 else 'odd' for x in range(0, 11)]
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [45]:
f = []
for temp in celsisus:
    f.append((9 / 5) * temp + 32)
f

NameError: name 'celsisus' is not defined

In [47]:
 celsisus = [0, 10, 20, 30, 34.5]
f = [((9 / 5) * temp + 32) for temp in celsisus]
f

[32.0, 50.0, 68.0, 86.0, 94.1]

In [49]:
f = []
for temp in celsisus:
    f.append((9 / 5) * temp + 32)
f

[32.0, 50.0, 68.0, 86.0, 94.1]

In [51]:
lst = [x for x in 'word']
lst

['w', 'o', 'r', 'd']

In [53]:
lst = [letter for letter in string]
lst

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [59]:
ls = []
for x in[1, 2, 3]:
    for y in [4, 5, 6]:
        ls.append(x * y) #this is the one way of doing this
ls
#the more optimised way of doing the same is as followed:
lst = [x * y for x in range(1, 4) for y in range(4, 7)]
lst

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [61]:
even_numbers = [num for num in range(0, 11) if num % 2 == 0]
for num in even_numbers:
    print(num)
print(even_numbers)

0
2
4
6
8
10
[0, 2, 4, 6, 8, 10]

In [63]:
print(*range(0, 11, 2))

0 2 4 6 8 10

In [ ]:
################################################
[item for sublist in nested for item in sublist]
################################################
#this is so good
#take a look, here as we know the basic syntax goes like, x for x in x
# here the x s item, which is yielded finally by doing item in sublist
#comprehend it, the example of list that is taken into consideration is as followed:
#nested = [[1, 2], [3, 4], [5, 6]]
# the example:
nested = [[1, 2], [3, 4], [5, 6]]
flattened = [item for sublist in nested for item in sublist]
print(flattened)  # Output: [1, 2, 3, 4, 5, 6]